@using risersoft.app.mxform.gst
@using risersoft.shared.web.Extensions

@model frmGSTNEWBPastModel
@{
    ViewData["Title"] = "EWB Past Data Import";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented);
}

<div class="clearfix"></div>
<link href="~/Content/font-awesome.css" rel="stylesheet" /><div class="container content-part" ng-controller="FormController">
    <div id="loading" class="row" ng-show="status=='postedc'">
        <div class="col-md-12" id="loading-text"><img src="~/Content/images/imgechange.gif" width="80" height="80" /></div>
    </div>
    <div class="col-md-11">

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="accounts">
                <h2>EWB Past Data Import</h2>

                @using (Html.BeginForm("", "", FormMethod.Post, new { @name = "frm", @id = "frm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />

                    <div class="form-horizontal">
                        <hr />
                        @Html.Hidden("data", "", new Dictionary<string, string> { { "id", "data" } })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-1"></div>


                            <div class="col-md-2 navbar navbar-expand-md">
                                <a class="btn btn-default sync" data-toggle="dropdown" href="#" aria-expanded="false">
                                    GSTN
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="" class="dropdown-item" ng-click="postc('downloadtp','')">Download Taxpayer</a></li>

                                </ul>
                            </div>



                            <div class="col-md-2 navbar navbar-expand-md">
                                <a class="btn btn-default sync" data-toggle="dropdown" href="#" aria-expanded="false">
                                    Download
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="" class="dropdown-item" ng-click="postc('excel','')">Excel File for Download Past Data </a></li>


                                </ul>
                            </div>
                        </div>
                        <div class="row">



                            <div class="col-md-1"></div>
                            <div class="col-md-3"><label class="control-label">Parameter : <a href="" ng-click="changeitem()">Change</a></label></div>
                        </div>
                        <div class="row">




                            <div class="col-md-1"></div>
                            <div class="col-md-3" ng-hide="itmval">
                                <label class="control-label">Return Period :{{return.ret_pd}}</label>

                            </div>




                            <div class="col-md-2" ng-show="itmval"><label class="control-label">Return Period</label><select name="Receivergstin" ng-model="GstRegPP.returnperiodidSelected" ng-options="item.ret_pd for item in dsCombo.PostPeriod track by item.PostPeriodID" Class="form-control"></select></div>
                            <div class="col-md-2" ng-hide="itmval">
                                <label class="control-label">Scope : {{model.NewOperationSelected}}</label>

                            </div>
                            <div class="col-md-3" ng-hide="itmval">
                                <label class="control-label">Period : {{model.NewPeriodSelected}}</label>


                            </div>
                            <div class="col-md-2" ng-show="itmval">
                                <label class="control-label">Scope</label>
                                <select name="scope" ng-model="model.OperationSelected" ng-options="rchrg.DisplayText for rchrg in ValueLists.Operation.ValueListItems track by rchrg.DataValue " Class="form-control"></select>
                            </div>
                            <div class="col-md-2" ng-show="itmval">

                                <label class="control-label">Period</label>
                                <select name="prchrg" ng-model="model.PeriodSelected" ng-options="prchrg.DisplayText for prchrg in ValueLists.Period.ValueListItems track by prchrg.DataValue " Class="form-control" ng-change="cdata(model.PeriodSelected)"></select>

                            </div>

                            <div class="col-md-2" ng-hide="itmval">
                                <label class="control-label" ng-show="cdisp">From : {{model.fromperiodidSelected.ret_pd}} <br />To : {{model.toperiodidSelected.ret_pd}}</label>

                            </div>
                            <div class="col-md-2" ng-show="itmval">
                                <label class="control-label" ng-show="dispd && itmval">From</label>
                                <select ng-show="dispd && itmval" ng-model="model.fromperiodidSelected" ng-options="itemt.ret_pd for itemt in dsCombo.PostPeriod track by itemt.PostPeriodID" Class="form-control"></select>
                            </div>


                            <div class="col-md-2" ng-show="itmval">
                                <label class="control-label" ng-show="dispd && itmval">To</label>
                                <select ng-show="dispd && itmval" ng-model="model.toperiodidSelected" ng-options="item.ret_pd for item in dsCombo.PostPeriod track by item.PostPeriodID" Class="form-control"></select>
                            </div>
                        </div>

                        <div class="row" ng-show="itmval">
                            <div class="col-md-1"></div><button type="button" ng-click="updatecancel()" style="margin-top:32px;background: #b94040!important;margin-left: 15px;" class="btn btn-primary">Cancel</button><button type="button" ng-click="postc('dbsumm','')" style="margin-top:32px;background: #4c1e1e !important;margin-left: 15px;" class="btn btn-primary">Update</button>



                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-7">
                                <label class="control-label">Company Name : {{GstRegPP.CompName}}</label>

                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Pan No. : {{GstRegPP.PANNum}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>

                            <div class="col-md-7">
                                <label class="control-label">GSTIN : {{GSTIN}}</label>
                            </div>
                        </div>
                        <div style="margin-top:10px;margin-left: 65px;">
                            <div id="msgSyncContainer">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <i class="fa fa-2x fa-check" id="status" ng-show="(result=='success')" style="margin-right:8px;margin-left: 0px;float: left;"></i>
                                    <div ng-show="(result=='success')" style="color:green;margin-left:8px;width: 500px;float: left;">{{message}}</div>
                                    <i class="fa fa-2x fa-remove" id="failure" ng-show="(result=='failure')" style="margin-right:8px;margin-left: 0px;"></i>
                                    <div ng-show="(result=='failure')" style="color:red;margin-left:8px;width: 500px;">{{message}}</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" style="margin-top:8px">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped space10">
                                        <tr class="tbld">
                                            <td>State</td>
                                            <td>GSTIN</td>
                                            <td>Taxable Value</td>
                                            <td>IGST</td>
                                            <td>CGST</td>
                                            <td>SGST</td>
                                            <td>CESS</td>
                                            <td>Val</td>
                                        </tr>
                                        <tr ng-repeat="row in AppItem">
                                            <td><a href="" ng-click="itemc(row)">{{row.Descrip}}</a></td>
                                            <td><a href="" ng-click="itemc(row)">{{row.GSTIN}}</a></td>
                                            <td class="text-align-right"><label>{{row.txval}}</label></td>
                                            <td class="text-align-right"><label>{{row.iamt}}</label></td>
                                            <td class="text-align-right"><label>{{row.camt}}</label></td>
                                            <td class="text-align-right"><label>{{row.samt}}</label></td>
                                            <td class="text-align-right"><label>{{row.csamt}}</label></td>
                                            <td class="text-align-right"><label>{{row.val}}</label></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div><div class="col-md-10 txtb">
                                Summary {{GSTIN}}
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped space10">
                                        <thead>
                                            <tr class="tbld">
                                                <th>Invoice Type</th>
                                                <th>Date</th>
                                                <th>Invoice Count</th>
                                                <th>Taxable Value</th>

                                                <th>IGST</th>
                                                <th>CGST</th>
                                                <th>SGST</th>
                                                <th>CESS</th>
                                                <th>Val</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="row in Datac" style="padding-top:5px;">
                                            <td>{{row.SectionName}}</td>
                                            <td>{{row.ret_pd}}</td>
                                            <td class="text-align-right">{{row.InvoiceCount}}</td>
                                            <td class="text-align-right">{{row.Txval}}</td>




                                            <td class="text-align-right">{{row.Iamt}}</td>
                                            <td class="text-align-right">{{row.camt}}</td>
                                            <td class="text-align-right">{{row.samt}}</td>
                                            <td class="text-align-right">{{row.csamt}}</td>
                                            <td class="text-align-right">{{row.val}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        @*<div class="form-group" ng-show="(showdownloadlink=='downloadlink')">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <i class="fa fa-2x fa-download" id="status" style="margin-right:8px;margin-left: 0px;"></i>
                                    <div style="color:green;margin-left:8px;">
                                        <a href="{{downloadURL}}">Download File</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>*@
                        <div id="dialogOTP" title="OTP">
                            <div Class="form-group">
                                <div Class="col-md-offset-1 col-md-10 " style="margin-top:8px">
                                    <input type="text" id="otpConnect" required Class="form-control" />
                                </div>
                            </div>

                            <div Class="form-group" style="float:right;margin-top:8px">
                                <div Class="col-md-12">
                                    <input type="button" id="btnConnect" value="Submit" Class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="gstregid" value="{{GstRegID}}" />
                        <input type="hidden" id="ReturnPeriodID" value="{{ReturnPeriodID}}" />
                        <div class="row"><div class="col-md-1"></div><div class="col-md-10"></div></div><div class="row"><div class="col-md-1"></div><div class="col-md-10"><label ng-show="datajn" style="border:1px solid #000;padding:5px;word-wrap: break-word;">{{datajn}}</label></div></div>


                        <input type="button" id="btnSavetab" value="Save" Class="btn btn-primary" />
                    </div>
                }


            </div>
            <div Class="clearfix"></div>
        </div>
    </div>
    <div id="dialogFilterfile">
        @Html.Partial("_SelectOperation")
    </div>
</div>
<Style>

    .clshid {
        display: none;
    }

    #dialogOTP {
        display: none;
    }

    .messageerror {
        display: none;
        color: red;
    }

    .messagesuccess {
        display: none;
    }

    .messagedis {
        display: block !important;
    }

    .messagehid {
        display: none;
    }

    .showbtn {
        display: none;
    }

    .conbtn {
        display: none;
        color: red;
        font-size: 2em;
    }
</Style>
@section BotScripts{

    <script type="text/javascript">
        rsApp.controller('FormController', function ($scope, $http, $interval) {
            $scope.modelUrl = 'frmGSTNEWBPast';
            $scope.result = '';
            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';
            $scope.message = '';
            $scope.TaskHistory = $scope.model.dsForm.TaskHistoryData;
            $scope.InfoJsonData = null;
            //$scope.TaskHistory.forEach(function (v) {
            //    v.Success = v.Success == 1 ? "org" : "err"
            //});

            var msgHTML = '<div></div><div class="form-group" id="syncPanel"><div>';
            msgHTML += '<div class="form-group" style="font-size: 10px;background-color: #efefef;width: 815px;" id="syncMessagePanel">';
            msgHTML += '<div><a href="#" class="delete" id="removeSyncDiv"><span class="fa fa-remove" style="color: #d83e3b;margin-right: 8px;"></span></a>';
            msgHTML += '<div class="row" style="padding-top:5px;margin-left: 15px;">';
            msgHTML += '<div id="syncExecutedMsg" style="padding:5px;"></div>';
            msgHTML += '<i class="fa fa-2x fa-link" style="color:green; display:none; padding: 5px;" id="syncDownloadLink"></i>';
            msgHTML += '</div></div></div></div></div>';

            var loadmodel = function (result) {
                $scope.model = result;
                $scope.dsCombo = $scope.model.dsCombo;

                $scope.GstRegPP = $scope.model.dsForm.DT[0];
                $scope.AppItem = $scope.model.dsForm.gstreg;
                $scope.ValueLists = $scope.model.ValueLists;
                $scope.return = $scope.model.dsForm.return[0];
                $scope.ReturnPeriodID = $scope.return.PostPeriodID;
                //$scope.ITCRev = $scope.model.dsForm.itcrev;

                $scope.item = function () {
                    var item = {};
                    if ($scope.GstRegID === undefined) { return; };
                    item.GSTRegID = $scope.GstRegID;
                    $scope.ITCRev.push(item);
                };

                $scope.changeitem = function () {
                    $scope.itmval = true;
                }

                $scope.model.OperationSelected = $.grep($scope.ValueLists.Operation.ValueListItems, function (item, index) { return item.DataValue === 'Pan' })[0];
                $scope.model.NewOperationSelected = $scope.model.OperationSelected.DisplayText;
                $scope.model.PeriodSelected = $.grep($scope.ValueLists.Period.ValueListItems, function (item, index) { return item.DataValue === 'Selected' })[0];

                $scope.model.NewPeriodSelected = $scope.model.PeriodSelected.DisplayText;
                $scope.updatecancel = function () {
                    $scope.itmval = false;
                }
                $scope.delete = function (index) {
                    $scope.ITCRev.splice(index, 1);
                };
                $scope.AppItemData = {};

                @Html.RenderLookup("GstRegPP", Model, Model.dsForm.Tables[0])
                $scope.GstRegPP.returnperiodidSelected = $.grep($scope.dsCombo.PostPeriod, function (item, index) {
                    return item.PostPeriodID === $scope.ReturnPeriodID
                })[0];

                $scope.itemc = function (row) {
                    $scope.GstRegID = row.GSTRegID; $scope.GSTIN = row.GSTIN;

                    $scope.Datac = $.grep($scope.model.dsForm.detail, function (item, index) { return item.gstregid === row.GSTRegID });
                    $scope.Databc = $.grep($scope.model.dsForm.b2cs, function (item, index) { return item.GSTRegID === row.GSTRegID });
                    $scope.Datacn = $.grep($scope.model.dsForm.nil, function (item, index) { return item.GSTRegID === row.GSTRegID });
                    $scope.Datahc = $.grep($scope.model.dsForm.hsn, function (item, index) { return item.GSTRegID === row.GSTRegID });
                    $scope.Datc = $.grep($scope.model.dsForm.at, function (item, index) { return item.GSTRegID === row.GSTRegID });
                    $scope.Datacn = $.grep($scope.model.dsForm.counter, function (item, index) { return item.gstregid === row.GSTRegID });
                }

                $scope.IsInitializing = false;
                $scope.postc = function (key, UploadType) {
                    $scope.cdisp = false; if (key == 'dbsumm') { $scope.Datac = []; $scope.Databc = []; $scope.Datacn = []; $scope.Datahc = []; $scope.Datc = []; $scope.Datacn = []; }
                    $scope.model.NewOperationSelected = $scope.model.OperationSelected.DisplayText;
                    $scope.model.NewPeriodSelected = $scope.model.PeriodSelected.DisplayText;
                    if ($scope.model.PeriodSelected.DataValue == 'Custom') {

                        $scope.cdisp = true;
                        $scope.model.fromperiodidSelected = $scope.model.fromperiodidSelected;
                        $scope.model.toperiodidSelected = $scope.model.toperiodidSelected;
                    }
                    if ($scope.model.fromperiodidSelected) { var formdata = $scope.model.fromperiodidSelected.PostPeriodID } else { var formdata = '' }
                    if ($scope.model.toperiodidSelected) { var todata = $scope.model.toperiodidSelected.PostPeriodID } else { var todata = '' }
                    if ($scope.GstRegPP.returnperiodidSelected.PostPeriodID) { $scope.ReturnPeriodID = $scope.GstRegPP.returnperiodidSelected.PostPeriodID; }


                    $scope.IsInitializing = true;
                    $scope.result = ''; $scope.status = 'postedc';

                    var url = '/frmGSTNGSTR1Past/ParamsOutput' + location.search;
                    var payload = { GstRegID: $scope.GstRegID, CompanyID: $scope.GstRegPP.CompanyID, ReturnPeriodID: $scope.ReturnPeriodID, UploadType: UploadType, Operation: $scope.model.OperationSelected.DataValue, Period: $scope.model.PeriodSelected.DataValue, From: formdata, To: todata };
                    payload = JSON.stringify(payload);
                    var token = $('input[name="__RequestVerificationToken"]').val();
                    var payloaddata = { key: key, Params: payload, __RequestVerificationToken: token };


                    $.post(url, payloaddata, function (result) {
                        //$scope.message = result.message;
                        $scope.status = 'loaded';
                        $scope.result = '';

                        if (result.Data.Description != "" && result.message != "") {
                            $scope.status = '';
                            $scope.result = 'success';
                            var msg = $('#msgSyncContainer').find("[data-syncTaskid='" + result.Data.Description + "']");
                            if (msg.length <= 0) {
                                msg = $(msgHTML);
                                $(msg.get(1)).attr("data-syncTaskid", result.Data.Description);
                                $('#msgSyncContainer').prepend(msg);
                            }
                            msg.find("div#syncExecutedMsg").html('<i class="fa fa-2x fa-check" style="color:green"> ' + result.message + '</i>');
                        }
                        else {
                            $scope.status = '';
                            $scope.result = 'success';
                            $scope.message = result.message;
                        }

                        if (result.success) {
                            //$scope.status = '';
                            //$scope.result = 'success';

                            if (result.Data) {
                                if (key == 'dbsumm') {
                                    $scope.model.dsForm.detail = result.Data.Data.detail;
                                    $scope.model.dsForm.counter = result.Data.Data.counter;

                                    $scope.AppItem = result.Data.Data.gstreg;
                                    $scope.Datacn = result.Data.Data.counter;

                                    $scope.return = result.Data.Data.return[0];
                                    $scope.ITCRev = result.Data.Data.itecrev; if ($scope.ITCRev == undefined) { $scope.ITCRev = []; }
                                    $scope.itmval = false;
                                    $scope.$apply();
                                }

                                if ($scope.IsInitializing && result.Data.Description) {
                                    $scope.taskID = result.Data.Description;
                                    $scope.checkStatusInterval($scope.taskID, msg);
                                }

                                if (key == 'infojson') {
                                    $scope.InfoJsonData = JSON.parse(result.Data.Description);
                                }
                            }
                        }
                        else {
                            //if (result.message === '') { result.message = 'Unknown Error!' };
                            //$scope.status = '';
                            //$scope.result = 'failure';

                            if (result.message === '') {
                                msg.find("div#syncExecutedMsg").html('<i class="fa fa-2x fa-remove" style="color:red"> Unknown Error!</i>');
                                //result.message = 'Unknown Error!'
                            };
                            $scope.message = result.message;
                            $scope.status = '';
                            $scope.result = 'failure';
                        }
                        $scope.$apply();
                        return;
                    });

                @Html.RenderFile("~/scripts/rsgstn.js")

                };

                $scope.cdata = function (row) {
                    if (row.DataValue == 'Custom') {
                        $scope.dispd = true;
                    }
                    else {
                        $scope.dispd = false;
                    }
                }
                $scope.pconnectdata = function () {
                    if ($scope.GstRegID) {
                        $scope.pconnect();
                    }
                    else {
                        alert('Choose first GSTIN');
                    }
                }

                $scope.connect = function (row) {
                    $scope.status = 'postedc';
                    var datainfo = {
                        GstRegID: row.GSTRegID,
                        ReturnPeriodID: row.ReturnPeriodID
                    };

                    datainfo = JSON.stringify(datainfo);
                    var token = $('input[name="__RequestVerificationToken"]').val();

                    var data = {
                        key: 'otp',
                        Params: datainfo,
                        __RequestVerificationToken: token
                    };
                    $.post("/frmGSTNGSTR1Past/ParamsOutput" + location.search, data, function (result) {
                        if (result.status = "200") {
                            if (result.token == 1) {
                                $('.messagesuccess').html('Success: Existing token');
                                $scope.status = ''; $scope.connectdist = false;
                            } else {
                                $scope.status = '';
                                row.itemc = false;
                                $('.cldis').addClass('clshid');
                            }
                        }
                        else {
                            $scope.status = '';
                        }
                        $scope.$apply();
                    });
                };

                $scope.btnconnect = function (row) {
                    $scope.status = 'postedc';
                    $scope.connectdis = true;

                    var datainfo = {
                        GstRegID: row.GSTRegID,
                        ReturnPeriodID: row.ReturnPeriodID,
                        OTP: row.OTP
                    };

                    datainfo = JSON.stringify(datainfo);

                    var data = {
                        key: 'token',
                        Params: datainfo,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    };

                    $.post("/frmGSTNGSTR1Past/ParamsOutput" + location.search, data, function (result) {
                        if (result.status = "200") {
                            $scope.status = '';

                            row.ExpiryMins = result.ExpiryMins * 60; row.itemc = true;
                            $scope.connectdis = false; $('.cldis').removeClass('clshid');
                        }
                        else {

                            $scope.status = '';
                            $scope.connectdis = true;
                        }

                        $scope.$apply();
                    });

                };
                $scope.btnconnectdel = function (row) {
                    row.itemc = true;
                    $('.cldis').removeClass('clshid');
                    $scope.$apply();
                }
            };

            $scope.cleanupmodel = function (datamodel) {
                //empty function
            }; loadmodel($scope.model);
            $scope.calculatemodel = function () {

            };

            $scope.visdel = false;
            $scope.visdelete = false;
            @Html.RenderFile("~/scripts/rsforms.js");
        });

        $(document).ready(function () {
            $('.hidbtn').on('click', function () {
                $('.conbtn').addClass('messagedis');
            });

        });
    </script>

    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @Html.RenderJsCss(false, "jqueryui")
}

