@using risersoft.app.mxform
@using risersoft.shared.web.Extensions
@using Newtonsoft.Json

@model frmHsnSacModel
@{
    ViewData["Title"] = "HsnSac";
    Layout = "~/Views/Shared/_FrameworkLayout.vbhtml";
    var modelJson = JsonConvert.SerializeObject(Model, Formatting.Indented,
                           new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml });
}

<link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<div class="container cbackground">
    <form action="" method="post" name="userform" ng-controller="FormController" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" id="model_json" value='@Html.Raw(modelJson)' />
        <div Class="form-horizontal">
            <div class="row"></div>
            <div Class="row" style="margin-top: 40px;">
                <div Class="col-md-1"></div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">TY  <span class="red">*</span></Label>
                    <select name="option" ng-model="HsnSacInfo.TySelected" ng-options="item.descriptot for item in dsCombo.TY track by item.Code" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.option.$invalid]"></select>
                </div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">Hsn/Sac Code</Label>
                    <input type="text" name="code" ng-model="HsnSacInfo.Code" class="form-control" numbers-only required ng-class="{true: 'error'}[submitted() && userform.code.$invalid]" />
                </div>
            </div>
            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">Tax Rate <span class="red">*</span></Label>
                    <select name="option" ng-model="HsnSacInfo.TxRTSelected" ng-options="itemn.DisplayText for itemn in ValueLists.TxRT.ValueListItems track by itemn.DataValue" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.option.$invalid]"></select>
                </div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">UQC <span class="red">*</span></Label>
                    <select name="option" ng-model="HsnSacInfo.UqcSelected" ng-options="itemc.Description for itemc in dsCombo.uqclist track by itemc.Code" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.option.$invalid]"></select>
                </div>
            </div>
            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">Rate Inclusive of Tax <span class="red">*</span></Label>
                    <select name="option" ng-model="HsnSacInfo.IncTxRtSelected" ng-options="itemcn.DisplayText for itemcn in ValueLists.IncTxRt.ValueListItems track by itemcn.DataValue" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.option.$invalid]"></select>
                </div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">Cess Amount</Label>
                    <input type="number" name="code" ng-model="HsnSacInfo.CSAMT" class="form-control" />
                </div>
            </div>

            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">Discount % (In Any)</Label>
                    <input type="number" name="code" ng-model="HsnSacInfo.Discount" class="form-control" />
                </div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">EwayBill Required  <span class="red">*</span></Label>

                    <select name="optionc" ng-model="HsnSacInfo.EwayBillReqdSelected" ng-options="itemnc.DisplayText for itemnc in ValueLists.EwayBillReqd.ValueListItems track by itemnc.DataValue" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.optionc.$invalid]"></select>
                </div>
            </div>
            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-6">
                    <Label Class="control-label labeltext">Description <span class="red">*</span></Label>
                    <textarea name="descript" ng-model="HsnSacInfo.Description" rows="1" style="max-width:600px;" class="form-control" required ng-class="{true: 'error'}[submitted() && userform.descript.$invalid]"></textarea>
                </div>
            </div>

            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">ITC Ineligible</Label>
                    <select ng-model="HsnSacInfo.ITCInElgSelected" ng-options="itemtax.DisplayText for itemtax in ValueLists.ITCInElg.ValueListItems track by itemtax.DataValue" Class="form-control"></select>

                </div>
                <div Class="col-md-3">
                    <Label Class="control-label labeltext">ITC Ineligible Keyword</Label>
                    <input type="text" name="code" ng-model="HsnSacInfo.ITCInElgKeyword" class="form-control" />
                </div>
            </div>
            <div Class="row">
                <div Class="col-md-1"></div>
                <div Class="col-md-10"><hr /></div>
            </div>
            @Html.Partial("_SavePanel")
        </div>
    </form>
</div>

@section botscripts{
    <script type="text/javascript">
        rsApp.controller('FormController', function ($scope, $http) {
            $scope.model = JSON.parse($("#model_json").val());
            $scope.status = 'loaded';
            var loadmodel = function (result) {

                $scope.model = result;
                $scope.HsnSacInfo = $scope.model.dsForm.DT[0];

                $scope.dsCombo = $scope.model.dsCombo;
                $scope.ValueLists = $scope.model.ValueLists;
                @Html.RenderLookup("HsnSacInfo", Model, Model.dsForm.Tables[0])
            };

            loadmodel($scope.model);
            $scope.GenerateDelPayload = function () {
                var payload = { EntityKey: 'hsn', ID: $scope.model.dsForm.DT[0].HsnSacID, AcceptWarning: false };
                return payload;
            };

            $scope.cleanupmodel = function (datamodel) {
                //empty function
            };

            $scope.calculatemodel = function () {
                //empty function
            };

            $scope.visdel = true;@Html.RenderFile("~/scripts/rsforms.js")
        });
    </script>
    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @Html.RenderJsCss(false, "jqueryui")
}
